services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /var/www
    volumes:
      - .:/var/www
    ports:
      - "8000:8000"
    command: php artisan serve --host=0.0.0.0 --port=8000
    depends_on:
      - mysql
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=turnos
      - DB_USERNAME=root
      - DB_PASSWORD=new_password
  mysql:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=new_password
      - MYSQL_DATABASE=turnos
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8088:80"
    environment:
      - PMA_HOST=mysql
      - MYSQL_ROOT_PASSWORD=new_password
    depends_on:
      - mysql
volumes:
  mysql_data: